[Unit]
Description=Switch on READY LED
After=multi-user.target
Requires=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/gateway-os/gateway-ready-led.sh

[Install]
WantedBy=multi-user.target
