[Unit]
Description=LoRa Packet Forwarder
Documentation=https://github.com/Lora-net/sx1302_hal
After=network-online.target dev-lora.device lora-gateway-id.service
Wants=network-online.target lora-gateway-id.service
BindsTo=dev-lora.device

[Service]
Type=simple
WorkingDirectory=/opt/lora-packet-forwarder/config
ExecStart=/opt/lora-packet-forwarder/lora_pkt_fwd
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
